.social-container {
  display: flex;
  text-align: center;
  justify-content: center;
  column-gap: 20px;
  background-color: rgba(20, 25, 25, 0.6);
  padding: 20px 0px 20px 0px;
  position : absolute;
  bottom: 0px;
  width: 100%;
}

.icon-container a svg:hover {
  color: #026b91;
}
